@import "../../Variables.scss";

.character-details {
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    padding: 21px 50px 31px 50px;
    @include fontStyle(700, 18px, 21px, $dark, "Karla");
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  &__avatar {
    max-width: 300px;
    max-height: 300px;
    border: 5px solid $img-border-clr;
    border-radius: 150px;
    margin-bottom: 16px;
  }

  &__name {
    @include fontStyle($fontSize: 48px, $lineHeight: 56px);
    margin-bottom: 48px;
  }

  &__desc {
    @include fontStyle(
      $fontWeight: 500,
      $fontSize: 20px,
      $lineHeight: 24px,
      $clr: $accent-clr
    );
    letter-spacing: $letter-spacing-small;
    margin-bottom: 48px;
  }
  &__info {
    max-width: 413px;
    width: 100%;

    > div {
      padding: 9px 16px 0 16px;

      h4 {
        @include fontStyle($fontWeight: 700, $lineHeight: 24px);
        letter-spacing: 0.15px;
      }

      p {
        @include fontStyle(
          $fontSize: 14px,
          $lineHeight: 20px,
          $clr: $secondary-clr
        );
        letter-spacing: $letter-spacing-base;
        border-bottom: 1px solid $border-bottom-clr;
        padding-bottom: 12px;
      }
    }
  }
}

@media (max-width: 460px) {
  .character-details {
    button {
      padding: 23px 0 0 24px;
      margin-bottom: 77px;
    }
    &__avatar {
      width: 150px;
      margin-bottom: 34px;
    }
    &__name {
      @include fontStyle($fontSize: 32px, $lineHeight: 38px);
      margin-bottom: 34px;
    }
    &__desc {
      margin-bottom: 16px;
      align-self: start;
    }
  }
}
